.cards {
    display: grid;
    gap: 48px 40px;
    grid-template-columns: minmax(40%, 460px) 49%;
    grid-template-rows: repeat(2, auto);
    margin: 0 0 80px;
    padding: 0;
}

@media all and (min-width: 1024px) and (max-width: 1279px){
    .cards {
        gap: 48px 32px;
    }
}

@media all and (max-width: 768px) {
    .cards {
        gap: 48px 28px;
        margin: 0 0 73px;
    }
}

@media all and (min-width: 526px) and (max-width: 767px) {
    .cards {
        gap: 25px;
        margin: 0 0 50px;
        grid-template-columns: 1fr 2fr;
    }
}

@media all and (max-width: 550px) {
    .cards {
        gap: 32px;
        margin: 0 auto 50px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
    }
}