.lead {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 984px;
    margin: 56px auto 92px;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin-top: 48px;
    }
}

@media all and (max-width: 768px) {
    .lead {
        margin: 48px 0 88px;
    }
}

@media all and (max-width: 320px) {
    .lead {
        margin: 48px 0 64px;
    }
}