.intro {
    max-width: 690px;
    display: grid;
    margin: 92px 0 92px 100px;
}

@media screen and (max-width : 1024px) {
    .intro {
        margin-left: 0; 
    }
}

@media all and (max-width: 768px) {
    .intro {
        max-width: 100%;
        margin: 88px 0;
    }
}

@media all and (max-width: 320px) {
    .intro {
        margin: 64px 0;
    }
}