.lead__text {
    color: #FFFFFF;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    margin: 8px 0 0;
    word-spacing: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    letter-spacing: 0.15em;
    /* сбросила стиль по умолчанию display:block у figcapture  */
    display: inline;
}