.lead__main-illustration {
    width: 100%;
    height: 100%;
}

@media all and (max-width: 768px) {
    .lead__main-illustration {
        /* 48зч- это 2 марджина по 24px из общего блока .content */
        width: calc(100% + 48px);
        margin-left: -24px;
    }
}

@media all and (max-width: 320px) {
    .lead__main-illustration {
        /* 16*2=32 (марджины блока content) */
        width: calc(100% + 32px);
        margin-left: -16px;
    }
}