.footer {
    display: flex;
    justify-content: space-between;
    margin: 92px 48px 0;
}

@media all and (max-width: 768px) {
    .footer {
    padding: 0;
    margin: 88px 24px 0;
    }
}

@media all and (max-width: 767px) {
    .footer {
    flex-direction: column;
    margin-top: 64px;
    }
}

@media all and (max-width: 320px) {
    .footer {
    margin: 64px 16px 0;
    }
}